/config/deploy/
/config/deploy.rb
/lib/
/log/capistrano.log
/node_modules
/public/hot
/public/storage
/resources/js
/resources/sass
/test
/.editorconfig
/.idea
/.vscode
/.vagrant
/Capfile
/Gemfile
/Gemfile.lock
/package.json
/package-lock.json
/webpack.*.js
bootstrap/compiled.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.*.php
.env.php
.env
.phpunit.result.cache
.rocketeer/
.vscode
