/__test__/
/config/deploy/
/config/deploy.rb
/lib/
/log/capistrano.log
/node_modules
/public/hot
/public/storage
/resources/js
/resources/sass
/storage/*.key
/test
/vendor
/.editorconfig
/.idea
/.vscode
/.vagrant
/Capfile
/Gemfile
!/package.*.json
!/package.json
/*.json
/jest.*.js
/webpack.*.js
bootstrap/compiled.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.*.php
.env.php
.env
.phpunit.result.cache
.rocketeer/
.vscode
